<% layout('./layouts/boilerplate') %>
<form
  class="uk-container uk-container-xsmall uk-align-center uk-form-horizontal"
  action="/furniture/<%= selectedFurniture._id %>/edit?_method=PUT"
  method="POST"
  enctype="multipart/form-data"
>
  <legend id="new-label-font" class="uk-legend">
    Edit your Furniture listed with us
  </legend>
  <div class="uk-margin">
    <label id="new-label-font" class="uk-form-label" for="furniture[title]"
      >Title</label
    >
    <input
      class="uk-input uk-form-width-large"
      type="text"
      placeholder="Title"
      name="furniture[title]"
      value="<%= selectedFurniture.title %>"
    />
  </div>
  <div class="uk-margin">
    <label id="new-label-font" class="uk-form-label" for="furniture[price]"
      >Price</label
    >
    <label>£</label>
    <input
      class="uk-input uk-form-width-small"
      type="text"
      placeholder="Price"
      name="furniture[price]"
      value="<%= selectedFurniture.price %>"
    />
  </div>
  <div class="uk-margin">
    <label id="new-label-font" class="uk-form-label" for="furniture[imageurl]"
      >Image Upload</label
    >
    <!-- <input
      class="uk-input uk-form-width-large"
      type="text"
      placeholder="Image URL"
      name="furniture[imageurl]"
      
    /> -->
    <input type="file" name="furniture[imageurl]" multiple />
  </div>
  <div class="uk-margin">
    <label id="new-label-font" class="uk-form-label" for="furniture[desc]"
      >Description</label
    >
    <textarea
      class="uk-textarea"
      rows="3"
      placeholder="Description"
      name="furniture[desc]"
    >
<%= selectedFurniture.desc %></textarea
    >
    <input
      type="hidden"
      name="furniture[lat]"
      id="latitude"
      value="<%= selectedFurniture.lat %>"
      readonly
    />
    <input
      type="hidden"
      name="furniture[lng]"
      id="longitude"
      value="<%= selectedFurniture.lng %>"
      readonly
    />
    <div class="uk-margin">
      <button
        class="uk-button uk-button-default uk-button-large uk-align-center"
        type="submit"
      >
        Submit
      </button>
    </div>
  </div>
</form>
