<% layout('./layouts/boilerplate'); let i =0;%>
<div id="map"></div>
<div id="mason" data-masonry='{"percentPosition": true }'>
  <% for(let furniture of all_furniture){ %>
  <div class="mason_col">
    <!-- style="width: 33%" -->
    <div class="uk-card mason_card">
      <a
        id="linkTo<%= i %>"
        href="furniture/<%= furniture._id %>"
        class="uk-text-decoration-none"
      >
        <input
          type="hidden"
          value="<%= furniture.lat %>"
          id="latitude<%= i %>"
          readonly
        />
        <input
          type="hidden"
          value="<%= furniture.lng %>"
          id="longitude<%= i %>"
          readonly
        />
        <img
          id="mason_img"
          class="uk-card-media-top imgblock"
          src="<%= furniture.imageurl[0].url %> "
          crossorigin="anonymous"
        />
        <div class="uk-card-body">
          <div id="badge-label-font" class="uk-card-badge uk-label-warning">
            £ <%= furniture.price %>
          </div>
          <p class="uk-card-title mason-card-font">
            <label class="" id="title<%= i %>"> <%= furniture.title %> </label>
          </p>
        </div>
      </a>
    </div>
  </div>
  <% i++;} %>
</div>

<script src="/js/mainIndex.js"></script>
<script src="/js/masonry.pkgd.min.js"></script>
<script src="/js/imagesloaded.pkgd.min.js"></script>

<script>
  const gridMason = document.querySelector("#mason");
  const varMason = function createMasonLayout() {
    const msnry = new Masonry(gridMason, { percentPosition: true });
    gridMason.style.visibility = "visible";
  };
  imagesLoaded(gridMason, varMason); //only checks if all the images are loaded
</script>
