<% layout('./layouts/boilerplate') %>
<img src="<%= selectedFurniture.imageurl %>" />
<label><%= selectedFurniture.title %></label>
<label><%= selectedFurniture.desc %></label>
<a href="/furniture/<%= selectedFurniture._id %>/edit/">Edit</a>

<form
  action="/furniture/<%= selectedFurniture._id %>?_method=DELETE"
  method="POST"
>
  <button type="submit">Delete</button>
  <!-- make this trigger an alertbox to confirm later -->
</form>

<h1>All Questions</h1>
<% for( let question of selectedFurniture.questions) {%>
<label>Question: <%= question.ques %></label>
<label>Answer: <%= question.ans %></label><br />
<form
  action="/furniture/<%= selectedFurniture._id %>/questions/<%= question._id %>?_method=DELETE"
  method="POST"
>
  <button type="submit">Delete Question</button>
</form>
<% } %>

<!-- NEEDS SERIOUS AUTHENTICATION TWEAKS -->
<h1>Ask any Questions</h1>
<form action="/furniture/<%= selectedFurniture._id %>/questions" method="POST">
  <!-- only show for users & not OP -->
  <label>Question</label>
  <textarea name="questions[ques]" id="question"></textarea>
  <!-- only show for OP -->
  <label>Answer</label>
  <textarea name="questions[ans]" id="answer"></textarea>
  <button type="submit">Submit</button>
  <!-- Authenticate to delete answer later -->
</form>
